<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>サービス提案フォーム</title>
</head>
<body>
    <h1>商品のアイデア</h1>
    <p>事業計画を作るための最初のステップとして、あなたの商品のアイデアを分かりやすくまとめます。商品を提供する相手である顧客と、顧客が抱えている課題を定義した上で、その課題を解決するための商品の具体的な内容をまとめます。</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">提出</button>
    </form>

    <h2>ChatGPTの応答:</h2>
    <p> {% if chat_results.product %}{{ chat_results.product }}{% else %}情報なし{% endif %}</p>
    <p> {% if chat_results.customer %}{{ chat_results.customer }}{% else %}情報なし{% endif %}</p>
    <p> {% if chat_results.lookalike %}{{ chat_results.lookalike }}{% else %}情報なし{% endif %}</p>

</body>
</html>
